:root {
    --bg: #dddcdc;
    /* --highlight: #e56a6c; */
    --highlight: #02be99;
    --section-bg: #343a40;
    --text: #1d1d1d;
    --header-bg: #121212;
    -footer-text: white;

    /* NEW COLOUR PALETTE */
    --dark: #080e1b;
    --light-blue: #0b638c;
    --darker-blue: #243c68;
    --green: #08a39d;
    --lighter-blue: #83aed7;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: Quicksand;
    background-color: black;
    /* background-color: #292929; */
    color: var(--lighter-blue);
}

body > .container {
    background-color: var(--dark);
    margin-top: 2rem;
    border-radius: 10px;
}

footer {
    height: 80px;
    /* background: var(--section-bg); */
    /* color: var(--footer-text); */
}

#header {
    /* height: calc(100vh - 56px); */

    /* object-fit: cover; */
    color: white;
    flex-shrink: 0;
    background-image: url(./images/landscape-photo-of-mountain-midq.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;

    background-size: 100vw 100vh;
    height: 100vh;
    animation: shrinkHead 1.5s ease-in-out 5s forwards;
}

#header-bg-container {
    background-color: rgba(0, 0, 0, 0);
    animation: coverBG 1.5s ease-in-out 5s forwards;
}

#header .container {
    padding-left: 10rem;
}

#navbar a:hover {
    color: var(--green) !important;
}

.navbar {
    background-color: var(--light-blue) !important;
}

#line {
    width: 100%;
    height: 6px;
    background-color: #333333;
}

#spacer {
    height: 0;
}

.big-text {
    font-weight: 700;
    font-size: 2rem;
    margin-right: 0.6rem;
    color: var(--green);
}
/* 
.card {
    width: 440px;
} */

.left-bg {
    object-position: 0 0;
}

.offset-bg {
    object-position: -9rem 0;
}

.card {
    /* box-shadow: 2px 2px 4px var(--text) !important; */
    background-color: var(--darker-blue) !important;
    color: var(--lighter-blue) !important;
}

.card-body i {
    font-size: 4rem;
    color: black;
}

.btn-dark {
    background-color: var(--dark);
}

.card-img {
    /* width: 400px; */
    object-fit: cover;
    /* opacity: 0.7; */
}

.icon {
    width: 40px;
}

#about-me img {
    width: 100%;
    border-radius: 10px;
    /* border: 1px solid var(--text); */
    box-shadow: 2px 2px 4px var(--section-bg);
}

#contact-area {
    font-size: 1.1rem;
}

#contact-me a:hover {
    color: var(--green);
}

@keyframes shrinkHead {
    0% {
        /* background-color: black; */
        color: white;
    }
    100% {
        height: 260px;
        color: var(--green);
        text-shadow: 1px 1px 1px var(--lighter-blue);
        /* color: #e5e5e5; */
        /* background-color: rgba(0, 0, 0, 0.2); */
    }
}

@keyframes coverBG {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media all and (max-width: 700px) {
    #header {
        background-size: auto 100vh;
    }
}

@media all and (max-width: 500px) {
    #header .container {
        padding-left: 5rem;
    }
}
