


#header {
    height: 300px;
}

.big-text {
    font-weight: 700;
    font-size: 2rem;
}

.card {
    width: 400px;
}

.card-img {
    width: 400px;
    opacity: 0.5;
}

.icon {
    width: 40px;
}

#about-me img {
    width: 100%;
    border-radius: 50px;
}