:root {
    --main-bg-colour: #007bff;
}

html {
    position: relative;
    min-height: 100%;
}

body {

    font-family: Quicksand , sans-serif;
    background-image: url("./cloudy-day.png");
    /* background-color: var(--main-bg-colour); */
    margin-bottom: 60px;
    height: 100%;
}

/* footer formatting */
.footer {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    line-height: 45px; 
}

#pretty-line {
    height: 5px;
    background-color: var(--main-bg-colour);
}


.footer-text {
    color:gray;
    font-size: 0.8em;
}

.badge-dark {

    font-family: Pacifico, cursive;

}


.logo {
    background-color: blanchedalmond;
    height: auto;
}

.navbar-light {
    font-family: VT323, monospace;
    font-size: 2rem;
}
.navbar-dark {
    font-family: VT323, monospace;
    font-size: 2rem;
}

.portfolio-image {
    object-fit: cover;
}

/* .social_img {
    background-color: blueviolet;
} */